header#myCarousel.carousel.slide
	// Indicators
	ol.carousel-indicators
		li.active(data-target='#myCarousel', data-slide-to='0')
		li(data-target='#myCarousel', data-slide-to='1')
		li(data-target='#myCarousel', data-slide-to='2')
	// Wrapper for Slides
	.carousel-inner
		.item.active
			// Set the first background image using inline CSS below.
			.fill(style="background-image:url('http://placehold.it/1900x1080&text=Slide One');")
			.carousel-caption
				h2 Caption 1
		.item
			// Set the second background image using inline CSS below.
			.fill(style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');")
			.carousel-caption
				h2 Caption 2
		.item
			// Set the third background image using inline CSS below.
			.fill(style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');")
			.carousel-caption
				h2 Caption 3
	// Controls
	a.left.carousel-control(href='#myCarousel', data-slide='prev')
		span.icon-prev
	a.right.carousel-control(href='#myCarousel', data-slide='next')
		span.icon-next

hr

div.container-fluid
	div.row
		div.col-md-6
			div.embed-responsive.embed-responsive-16by9
				iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/YpVVhTdpGiQ" frameborder="0" allowfullscreen)
		div.col-md-6
			h1.text-center Welcome to FONHARE!
			p The Haitian Foundation of Rehabilitation (FONHARE) is a grassroots Haitian non-profit organization dedicated to providing integrated physical and cognitive rehabilitation services to children and youth with disabilities in Haiti, especially those with a poor quality of life living with limited resources regardless their socioeconomic condition. FONHARE is the only organization providing rehab services in the northeast of Haiti to 13 cities with almost 500,000 citizens.
			hr
			a.btn.btn-primary.btn-block.text-center(href="#") DONATE
			hr
			a.btn.btn-primary.btn-block.text-center(href="#") VOLUNTEER

	hr
	.row
		.col-lg-12.text-center
			h2 Your Help is Vital
			p.lead We need your financial and volunteer support for:
	.row
		.col-md-3.col-xs-6
			img.img-circle.img-center.img-responsive(src="http://placehold.it/200x200&text=image")
			p.text-center.lead Improving Quality of Life
		.col-md-3.col-xs-6
			img.img-circle.img-center.img-responsive(src="http://placehold.it/200x200&text=image")
			p.text-center.lead Increasing independence
		.col-md-3.col-xs-6
			img.img-circle.img-center.img-responsive(src="http://placehold.it/200x200&text=image")
			p.text-center.lead Reintegrating Into Society
		.col-md-3.col-xs-6
			img.img-circle.img-center.img-responsive(src="http://placehold.it/200x200&text=image")
			p.text-center.lead Transferring Knowledge
	hr
	.row
		.col-lg-12.text-center
			h2 FONHARE's Impact
			p.lead By the numbers:
	.row.stat-row
		.col-md-2.col-sm-4.col-xs-6
			p.text-center.lead Patients seen to date
			p.text-center.stat 25
		.col-md-2.col-sm-4.col-xs-6
			p.text-center.lead Number of homes modified
			p.text-center.stat 32
		.col-md-2.col-sm-4.col-xs-6
			p.text-center.lead Number of ramps built
			p.text-center.stat 45
		.col-md-2.col-sm-4.col-xs-6
			p.text-center.lead Students integrated in to school
			p.text-center.stat 325
		.col-md-2.col-sm-4.col-xs-6
			p.text-center.lead Professional Volunteers
			p.text-center.stat 36
		.col-md-2.col-sm-4.col-xs-6
			p.text-center.lead Total Volunteer Hours
			p.text-center.stat 32532
	hr
	.row
		.col-md-6
			div.section
				.section-box
					h2 Latest Posts
					p Feed of posts...
		.col-md-6
			div.section
				.section-box
					h2 Video Highlights
					p Feed of posts...
