nav.navbar.navbar-inverse.navbar-top(role="navigation")
	div.container
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.serving(href="/wireframe-fonhare/") FONHARE
		div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
			ul.nav.navbar-nav.navbar-right.home-nav
				li
					a.serving(href="/wireframe-fonhare/") Home
				li
					a.dropdown-toggle(href="#", data-toggle="dropdown") About
						ul.dropdown-menu(role="menu")
							li
								a.serving(href="/wireframe-fonhare/page/staff") Staff
							li
								a.serving(href="/wireframe-fonhare/page/financial") Financial Information
							li
								a.serving(href="/wireframe-fonhare/page/partners") Partners
				li
					a.dropdown-toggle(href="#", data-toggle="dropdown") Programs
						ul.dropdown-menu(role="menu")
							li
								a.serving(href="/wireframe-fonhare/page/sponsor-a-therapist") Sponsor a Therapist
				li
					a.dropdown-toggle(href="#", data-toggle="dropdown") Contact
						ul.dropdown-menu(role="menu")
							li
								a.serving(href="/wireframe-fonhare/page/headquarters") Headquarters
							li
								a.serving(href="/wireframe-fonhare/page/haiti") Haiti
				li
					a.dropdown-toggle(href="#", data-toggle="dropdown") Get Involved
						ul.dropdown-menu(role="menu")
							li
								a.serving(href="/wireframe-fonhare/page/sponsor-a-therapist") Sponsor a Therapist
							li
								a.serving(href="/wireframe-fonhare/page/volunteer") Volunteer
				li
					a.btn.btn-success.serving(href="/wireframe-fonhare/page/donate", style="color:#fff;") Donate
